#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore configuration files that may contain sensitive information
/movies-app/web/sites/*/*settings*.php
/movies-app/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/movies-app/web/sites/*/files
/movies-app/web/sites/*/public
/movies-app/web/sites/*/private
/movies-app/web/sites/*/files-public
/movies-app/web/sites/*/files-private

# Ignore paths that may contain temporary files
/movies-app/web/sites/*/translations
/movies-app/web/sites/*/tmp
/movies-app/web/sites/*/cache

# Ignore drupal core (if not versioning drupal sources)
/movies-app/web/vendor
/movies-app/web/core
/movies-app/web/modules/README.txt
/movies-app/web/profiles/README.txt
/movies-app/web/sites/development.services.yml
/movies-app/web/sites/example.settings.local.php
/movies-app/web/sites/example.sites.php
/movies-app/web/sites/README.txt
/movies-app/web/themes/README.txt
/movies-app/web/.csslintrc
/movies-app/web/.editorconfig
/movies-app/web/.eslintignore
/movies-app/web/.eslintrc.json
/movies-app/web/.gitattributes
/movies-app/web/.htaccess
/movies-app/web/.ht.router.php
/movies-app/web/autoload.php
/movies-app/web/composer.json
/movies-app/web/composer.lock
/movies-app/web/example.gitignore
/movies-app/web/index.php
/movies-app/web/INSTALL.txt
/movies-app/web/LICENSE.txt
/movies-app/web/README.txt
/movies-app/web/robots.txt
/movies-app/web/update.php
/movies-app/web/movies-app/web.config

# Ignore vendor dependencies and scripts
/movies-app/vendor
/movies-app/composer.phar
/movies-app/composer
/movies-app/robo.phar
/movies-app/robo
/movies-app/drush.phar
/movies-app/drush
/movies-app/drupal.phar
/movies-app/drupal